<!DOCTYPE html>
<html>
<head>
  <title>Logging out from <%= @slo_request_params[:name] %></title>
</head>
<body>
  <p>Logging out from <%= @slo_request_params[:name] %>...</p>
  <form id="slo_form" action="<%= @slo_request_params[:location] %>" method="<%= @slo_request_params[:method] %>">
    <% @slo_request_params[:params].each do |key, value| %>
      <input type="hidden" name="<%= key %>" value="<%= value %>">
    <% end %>
  </form>
  <script type="text/javascript">
    // Automatically submit the form
    document.getElementById('slo_form').submit();
  </script>
</body>
</html>
