<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <% if @sp_slo_binding == :redirect %>
      <meta http-equiv="refresh" content="0;url=<%=@sp_slo_url%>">
      <title>Redirecting...</title>
    <% end %>
  </head>
  <% if @sp_slo_binding == :redirect %>
    <p>This page has moved. If you are not redirected automatically, <a href="<%=@sp_slo_url%>">click here</a>.</p>
  <% else %>
    <body onload="document.forms[0].submit();" style="visibility:hidden;">
      <%= form_tag(@sp_slo_endpoint) do %>
        <%= hidden_field_tag("SAMLResponse", @saml_slo_response) %>
        <%= hidden_field_tag("RelayState", SamlIdpRails.config.relay_state_url) %>
        <%= submit_tag "Submit" %>
      <% end %>
    </body>
  <% end %>
</html>
